.form {
  position: relative;
  margin-bottom: 20px;
}
.form * {
  outline: none;
}
.form__input {
  padding: 10px 25px 10px 0;
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
}
.form__btn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  border: none;
  background: none;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
  padding: 0;
}
